body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    margin: 8px;
}
h2 {
    font-size: 42px;
}
.cta {
    color: Aquamarine;
    font-size: 16px;
}
p {
    color: Gray;
    font-size: 21px;
  }
.footer {
    text-align: right;
}
